name: PR CI Build

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Show branch and run sample test
        run: |
          echo "Running CI for branch: ${{ github.head_ref }}"
          echo "Build Passed"
