name: Manual Deploy (QA)

on:
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment'
        required: true
        default: 'qa'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Simulate deploy
        run: |
          echo "Deploying branch ${{ github.ref }} to environment: ${{ github.event.inputs.env }}"
          echo "Deployment Successful"
